<nav class="page-inner-nav">
    <a href="exam-routine.html" class="nav-item <%= tab == 'routine' && 'active' %>">
        <div class="thumb">
            <img src="images/routine.png" alt="">
        </div>
        <span>Routine</span>
    </a>
    <a href="exam-admit.html" class="nav-item <%= tab == 'admit' && 'active' %>">
        <div class="thumb">
            <img src="images/approved.png" alt="">
        </div>
        <span>Admit Card</span>
    </a>
    <a href="exam-result.html" class="nav-item <%= tab == 'result' && 'active' %>">
        <div class="thumb">
            <img src="images/results.png" alt="">
        </div>
        <span>Result</span>
    </a>
</nav>