<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Student Panel</a>
      <div class="" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown dropdown-icon me-4">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bell"></i>
            </a>
            <ul class="dropdown-menu menu-lg p-3 dropdown-menu-end">
              <p>Result has been published</p>
              <p class="mb-0">Notice Alert, Lorem Ipsum dolor</p>
            </ul>
          </li>
          <li class="nav-item dropdown dropdown-icon profile">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="./images/profile.png" class="" alt="">
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-danger" href="#"><i class="far fa-power-off"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>