<div class="col-1 sidebar">
    <div class="brand">
        <img src="images/logo.png" alt="">
    </div>
    <div class="sidebar-items">
        <a href="index.html" class="sidebar-item <%= page == 'profile' && 'active' %>">
            <i class="fad fa-user"></i>
            Profile
        </a>
        <a href="notice.html" class="sidebar-item <%= page == 'notice' && 'active' %>">
            <i class="fad fa-square-exclamation"></i>
            Notice
        </a>
        <a href="form-fillup.html" class="sidebar-item <%= page == 'formFillup' && 'active' %>">
            <i class="fad fa-cabinet-filing"></i>
            Form Fillup
        </a>
        <a href="exam-routine.html" class="sidebar-item <%= page == 'exam' && 'active' %>">
            <i class="fad fa-user"></i>
            Exam
        </a>
        <a href="payment.html" class="sidebar-item <%= page == 'payment' && 'active' %>">
            <i class="fad fa-user"></i>
            Payments
        </a>
    </div>
</div>