<%- include('partials/_header.html') %>

    <div class="container-fluid g-0">
        <div class="row g-0">
            <%- include('partials/_sidebar.html', { page: 'exam' }) %>
            <div class="col">
                <%- include('partials/_navbar.html') %>
                <div class="container px-4">
                    <div class="page-header">
                        <div class="title">
                            Exam
                        </div>
                    </div>

                    <%- include('partials/tabs/_exam.html', {tab: 'admit'}) %>

                    <div class="card mb-4 formfillup-card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-8">
                              <span class="badge bg-success">Admit Card</span>
  
                              <h6 class="mt-3">Honors 2nd year final exam</h6>
                              <span>Examination Start: 22 January, 2024</span>
                            </div>
                            <div class="col-4 d-flex justify-content-end align-items-center">
                              <a href="#" class="btn btn-success btn-lg text-white fs-6">Download</a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/_footer.html') %>