<%- include('partials/_header.html') %>

    <div class="container-fluid g-0">
        <div class="row g-0">
            <%- include('partials/_sidebar.html', { page: 'exam' }) %>
            <div class="col">
                <%- include('partials/_navbar.html') %>
                <div class="container px-4">
                    <div class="page-header">
                        <div class="title">
                            Exam
                        </div>
                    </div>

                    <%- include('partials/tabs/_exam.html', {tab: 'routine'}) %>

                    <div class="card">
                      <div class="card-body">
                        <h4 class="text-center mb-4">Intermediate Final Year Routine</h4>
                        <table class="table table-bordered table-striped">
                          <thead>
                              <tr>
                                  <th>Date</th>
                                  <th>Subject</th>
                                  <th>Time</th>
                                  <th>Location</th>
                                  <th>Room</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>January 15, 2024</td>
                                  <td>Mathematics</td>
                                  <td>9:00 AM - 11:00 AM</td>
                                  <td>Main Hall</td>
                                  <td>101</td>
                              </tr>
                              <tr>
                                  <td>January 17, 2024</td>
                                  <td>English Literature</td>
                                  <td>9:00 AM - 11:30 AM</td>
                                  <td>Main Hall</td>
                                  <td>102</td>
                              </tr>
                              <tr>
                                  <td>January 20, 2024</td>
                                  <td>Physics</td>
                                  <td>2:00 PM - 4:00 PM</td>
                                  <td>Lab 1</td>
                                  <td>201</td>
                              </tr>
                              <tr>
                                  <td>January 22, 2024</td>
                                  <td>Chemistry</td>
                                  <td>2:00 PM - 4:00 PM</td>
                                  <td>Lab 1</td>
                                  <td>201</td>
                              </tr>
                              <!-- Add more rows as required -->
                          </tbody>
                      </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/_footer.html') %>