<%- include('partials/_header.html') %>

    <div class="container-fluid g-0">
        <div class="row g-0">
            <%- include('partials/_sidebar.html', { page: 'exam' }) %>
            <div class="col">
                <%- include('partials/_navbar.html') %>
                <div class="container px-4">
                    <div class="page-header">
                        <div class="title">
                            Exam
                        </div>
                    </div>

                    <%- include('partials/tabs/_exam.html', {tab: 'result'}) %>

                    <div class="card p-4">
                        <div class="card-body p-4 bg-body-tertiary" style="border-style: dashed !important; border-color: #c4c4c7; border-radius: 0.6rem;">
                          <h5 class="text-center">
                            Academic Report
                          </h5>
                          <p class="text-center">
                            Intermediate Final Year
                          </p>
                          <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Subject</th>
                                    <th>Marks Obtained</th>
                                    <th>Total Marks</th>
                                    <th>Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mathematics</td>
                                    <td>85</td>
                                    <td>100</td>
                                    <td>85%</td>
                                </tr>
                                <tr>
                                    <td>English</td>
                                    <td>78</td>
                                    <td>100</td>
                                    <td>78%</td>
                                </tr>
                                <tr>
                                    <td>Physics</td>
                                    <td>92</td>
                                    <td>100</td>
                                    <td>92%</td>
                                </tr>
                                <tr>
                                    <td>Chemistry</td>
                                    <td>88</td>
                                    <td>100</td>
                                    <td>88%</td>
                                </tr>
                                <tr>
                                    <td>Biology</td>
                                    <td>90</td>
                                    <td>100</td>
                                    <td>90%</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/_footer.html') %>