<%- include('partials/_header.html') %>

    <div class="container-fluid g-0">
        <div class="row g-0">
            <%- include('partials/_sidebar.html', { page: 'formFillup' }) %>
            <div class="col">
                <%- include('partials/_navbar.html') %>
                <div class="container px-4">
                    <div class="page-header">
                        <div class="title">
                            Form Fillup
                        </div>
                    </div>
                    <div class="card mb-4 formfillup-card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-8">
                            <h5>New Formfillup is open</h5>

                            <h6>Honors 2nd year final exam</h6>
                            <span>12 Nov 2023 - 22 Nov 2023</span>
                          </div>
                          <div class="col-4 d-flex justify-content-end align-items-center">
                            <a href="#" class="btn btn-success btn-lg text-white fs-6">Fillup your form</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table-wrapper">
                        <div class="table-header">
                            <h6>Previous Fillups</h6>
                            <div class="action">
                                <input type="text" placeholder="search.." class="form-control form-control-sm">
                                <select class="form-select form-select-sm" aria-label="Default select example">
                                    <option selected>All Notice</option>
                                    <option value="1">Academic</option>
                                    <option value="3">Assignment</option>
                                    <option value="2">Examination</option>
                                  </select>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Examination</th>
                                <th scope="col">Session</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>HSC Certificate Exam 2023</td>
                                <td>Intermediate</td>
                                <td><a href="" class="btn btn-sm btn-success text-white"><i class="fas fa-download"></i></a></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/_footer.html') %>