<%- include('partials/_header.html') %>

    <div class="container-fluid g-0">
        <div class="row g-0">
            <%- include('partials/_sidebar.html', { page: 'profile' }) %>
            <div class="col">
                <%- include('partials/_navbar.html') %>
                <div class="container px-4">
                    <div class="page-header">
                        <div class="title">
                            Profile
                        </div>
                        <div class="action">
                            <a href="#" class="btn btn-sm btn-primary text-white"> <i class="fal fa-pen-to-square me-2"></i> Update Profile</a>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-md-4 pe-4">
                            <div class="card profile-card py-4">
                                <div class="card-body">
                                    <div class="text-center">
                                        <img src="./images/profile.png" alt="" class="w-50 rounded-circle">
                                    </div>
                                    <h4 class="text-center mt-3">Mostafizur Rahman</h4>
                                    <div class="text-center">
                                        <span class="badge bg-success text-center">Intermediate</span>
                                    </div>
                                    <div class="info mt-5">
                                        <div class="px-3 py-2 bg-body-tertiary rounded border">
                                            <h6 class="text-body-tertiary">Student ID</h6>
                                            <p class="mb-0">23412341234</p>
                                        </div>
                                        <div class="px-3 py-2 bg-body-tertiary rounded border mt-3">
                                            <h6 class="text-body-tertiary">Email</h6>
                                            <p class="mb-0">shimulsql@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card p-3">
                                <div class="card-body">
                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Personal Information</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Academic Information</button>
                                        </li>
                                      </ul>
                                      <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active pt-4" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                                            <div class="mb-3">
                                                <h6 class="text-body-tertiary mb-1">Name</h6>
                                                <p>Mostafizur Rahman</p>
                                            </div>
                                            <div class="mb-3">
                                                <h6 class="text-body-tertiary mb-1">Gender</h6>
                                                <p>Mostafizur Rahman</p>
                                            </div>
                                            <div class="mb-3">
                                                <h6 class="text-body-tertiary mb-1">Father's Name</h6>
                                                <p>Mostafizur Rahman</p>
                                            </div>
                                            <div class="mb-3">
                                                <h6 class="text-body-tertiary mb-1">Mother's Name</h6>
                                                <p>Mostafizur Rahman</p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                                            <div class="mb-3">
                                                <h6 class="text-body-tertiary mb-1">Label</h6>
                                                <p>Lorem Ipsum Dolor</p>
                                            </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/_footer.html') %>