<%- include('partials/_header.html') %>

    <div class="container-fluid g-0">
        <div class="row g-0">
            <%- include('partials/_sidebar.html', { page: 'notice' }) %>
            <div class="col">
                <%- include('partials/_navbar.html') %>
                <div class="container px-4">
                    <div class="page-header">
                        <div class="title">
                            Notice
                        </div>
                    </div>
                    <div class="table-wrapper">
                        <div class="table-header">
                            <h6>My Notices</h6>
                            <div class="action">
                                <input type="text" placeholder="search.." class="form-control form-control-sm">
                                <select class="form-select form-select-sm" aria-label="Default select example">
                                    <option selected>All Notice</option>
                                    <option value="1">Academic</option>
                                    <option value="3">Assignment</option>
                                    <option value="2">Examination</option>
                                  </select>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Notice title</th>
                                <th scope="col">Notice Type</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>২০২৩ সালের উচ্চ মাধ্যমিক সার্টিফিকেট পরীক্ষার ফরম পূরণ সংক্রান্ত বিজ্ঞপ্তি</td>
                                <td>Academic</td>
                                <td><a href="" class="btn btn-sm btn-success text-white"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>২০২৩ সালের উচ্চ মাধ্যমিক সার্টিফিকেট পরীক্ষার ফরম পূরণ সংক্রান্ত বিজ্ঞপ্তি</td>
                                <td>Academic</td>
                                <td><a href="" class="btn btn-sm btn-success text-white"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>২০২৩ সালের উচ্চ মাধ্যমিক সার্টিফিকেট পরীক্ষার ফরম পূরণ সংক্রান্ত বিজ্ঞপ্তি</td>
                                <td>Academic</td>
                                <td><a href="" class="btn btn-sm btn-success text-white"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">4</th>
                                <td>২০২৩ সালের উচ্চ মাধ্যমিক সার্টিফিকেট পরীক্ষার ফরম পূরণ সংক্রান্ত বিজ্ঞপ্তি</td>
                                <td>Academic</td>
                                <td><a href="" class="btn btn-sm btn-success text-white"><i class="fas fa-download"></i></a></td>
                              </tr>
                              <tr>
                                <th scope="row">5</th>
                                <td>২০২৩ সালের উচ্চ মাধ্যমিক সার্টিফিকেট পরীক্ষার ফরম পূরণ সংক্রান্ত বিজ্ঞপ্তি</td>
                                <td>Academic</td>
                                <td><a href="" class="btn btn-sm btn-success text-white"><i class="fas fa-download"></i></a></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/_footer.html') %>