<%- include('partials/_header.html') %>

    <div class="container-fluid g-0">
        <div class="row g-0">
            <%- include('partials/_sidebar.html', { page: 'payment' }) %>
            <div class="col">
                <%- include('partials/_navbar.html') %>
                <div class="container px-4">
                    <div class="page-header">
                        <div class="title">
                            Payments
                        </div>
                    </div>
                    <div class="table-wrapper">
                        <div class="table-header">
                            <h6>Payment history</h6>
                            <div class="action">
                                <select class="form-select form-select-sm" aria-label="Default select example">
                                    <option selected>All</option>
                                    <option value="1">Paid</option>
                                    <option value="3">Unpaid</option>
                                  </select>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Bill name</th>
                                <th scope="col">TrxID</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Formfillup honors 1st year</td>
                                <td>B87CM345345345</td>
                                <td>2200</td>
                                <td><span class="badge bg-success">success</span></td>
                                <td><a href="" class="btn btn-sm btn-success text-white"><i class="fas fa-download"></i></a></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/_footer.html') %>