.profile-card{
    .badge{
        color: rgba($success, 0.8);
        padding: 0.6rem 1.5rem;
        background-color: rgba($success, 0.05) !important;
        border: 1px solid rgba($success, 0.1);
        font-size: 0.9rem;
        font-weight: 400;
    }
}

.formfillup-card{
    background-color: rgba($success, 0.08);
    border-color: rgba($success, 0.1);

    h5{
        color: $success;
        margin-bottom: 2rem;
    }

    h6{
        color: #30353b;
        margin-bottom: 5px;
    }

    h6 + span{
        color: #41474f;
        font-size: 14px;
    }

}