.page-header{
    display: flex;
    align-items: center;
    padding: 0.6rem 1rem;
    border-left: 3px solid $primary;
    background-color: rgba($primary, 0.03);
    margin: 1rem 0;

    .title{
        font-weight: 500;
        font-size: 1.1rem;
    }
    .action{
        margin-left: auto;

        .btn{
            color: $white;
        }
    }
}