.navbar-top{
    height: 50px;

    .navbar-brand{
        font-size: 0.8rem;
        font-weight: 500;
        color: $gray-700;
    }

    .dropdown-icon {
        .nav-link{
            height: 35px;
            width: 35px;
            background-color: $white;
            border-radius: $border-radius-pill;
            line-height: 1.3rem;
            text-align: center;
            box-shadow: $box-shadow-sm;
    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                scale: 1.8;
            }
    
            &::after{
                display: none;
            }
        }

        &.profile {
            .nav-link{
                height: 40px;
                width: 40px;
                overflow: hidden;
                box-shadow: none;
            }
        }
    }
}

.navbar {
    
}

.dropdown-menu{
    p{
        font-size: $font-size-sm;
    }

    &.menu-lg{
        min-width: $dropdown-min-width * 1.5;
    }
}

.page-inner-nav{
    display: flex;
    gap: 1rem;
    margin: 2rem 0;

    .nav-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        width: 120px;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: $border-radius;
        border: 1px solid $gray-300;
        text-align: center;
        text-decoration: none;
        color: $gray-600;
        font-size: 0.9rem;

        &:hover{
            border-color: $primary;
        }

        &.active{
            background-color: #32374a;

            span{
                color: $white;
            }
        }

        .thumb{
            width: 50%;
            background: rgba($white, 0.8);
            padding: 0.7rem;
            border-radius: 50rem;
        }

        img{
            width: 100%;
            // margin: 0.5rem 0;
            
        }

        span{
            display: block;
        }
    }
}