.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    width: 140px;
    background-color: $white;

    .brand{
        text-align: center;
        margin-bottom: 2rem;

        img{
            width: 90%;
        }
    }

    .sidebar-items{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        .sidebar-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 90px;
            height: auto;
            aspect-ratio: 1;
            border: 1px solid $gray-200;
            border-radius: $border-radius-lg;
            font-size: 0.7rem;
            text-decoration: none;
            color: $gray-600;

            &:hover{
                border-color: $primary;
            }

            &.active{
                background-color: $primary;
                color: $white;
                border-color: $primary;

                i{
                    background-color: rgba($white, 0.17);
                    color: $white;
                }
            }

            i{
                color: $primary;
                font-size: 1rem;
                line-height: 2rem;
                background-color: rgba($primary, 0.1);
                height: 35px;
                width: 35px;
                border-radius: $border-radius-pill;
                margin-bottom: 0.4rem;
            }
        }
    }
}