.table-wrapper{
    background-color: $white;
    border-radius: $border-radius;
    padding-bottom: 1rem;

    .table-header{
        display: flex;
        padding: 1rem;
        align-items: center;

        h6{
            margin: 0;
        }

        .action{
            display: flex;
            gap: 0.5rem;
            width: 30%;
            margin-left: auto;
        }
    }

    thead{
        
        th{
            background-color: $gray-200;
            font-size: 0.7rem;
            color: $gray-700;
        }
    }
}