$primary: #2592E7;
$success: #17a971;


// fonts
$font-family-roboto: 'Roboto', sans-serif;

$font-family-base: $font-family-roboto;


// dropdown
$dropdown-padding-y: 0.8rem;
$dropdown-border-color: #f1f5f8;
$dropdown-font-size: 0.85rem;
$dropdown-item-padding-y: 0.3rem;
