@import "_variables";
@import "bootstrap/scss/bootstrap";


@import "_sidebar";
@import "_navbar";
@import "_card";
@import "_heading";
@import "_table";

body{
    background-color: #F0F2F5;
    font-family: $font-family-base;
}
